<launch>
    <!-- <include file="$(find assignment_2_2024)/launch/sim_w1.launch" /> -->
    <node pkg="my_assignment2" type="action_client_node" name="action_client" output="screen" />
    <node pkg="my_assignment2" type="target_service_node" name="target_service" output="screen" />
    <!-- <node pkg="my_assignment2" type="action_client.py" name="target_service" output="screen" /> -->

</launch>
